.content-area {
	float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	width: 100%;
}

.site-main {
	margin: 0 0 0 $size__site-sidebar;
	background-color: #fff;
	height: 100vh;
	position: relative;
	overflow: auto;
	padding: 30px 30px 0px 30px;
}

@media only screen and (max-width: 950px) {
	.site-main {
		width: 100%;
		margin: 0;
	}

	.site-content .widget-area {
		display: none;
	}	
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: $size__site-sidebar;
	padding: 30px 30px 0px 30px;
	height: 100vh;

	ul {
		display: inline;
		margin: 0;
		li {
			display: block;
		}
	}
}

#logo {
	margin-bottom: 30px;
	width: 66.66666%;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.post-preview {
	display: flex;
	flex-direction: row;
	transition-duration: $hover__duration;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	a:link, a:focus, a:visited {
		text-transform: uppercase;
		transition-duration: $hover__duration;
		font-weight: normal;
		text-decoration: none;
		color: #777;
		font-size: 14px;
	}
	a:hover {
		color: black;
		transition-duration: $hover__duration;
	}
}

.post-preview:first-child {
	padding-top: 0;
}

.post-preview:last-child {
	border-bottom: 0;
}

.post-preview:hover {
	display: flex;
	flex-direction: row;
	transition-duration: $hover__duration;
}

.thumb {
	min-height: 200px;	
	min-width: 33.33333%;
	display: block;
	background-color: #777;
	background-size: cover;
	background-position: top center;
}

.content-preview {
	height: 100%;
	padding-left: 30px;
}