body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.site-content .widget-area {
	a:link, a:visited, a:focus {
		color: rgba(0, 0, 0, 0.5);
		text-decoration: none;
	}
	a:hover {
		color: rgba(0, 0, 0, 1.0);
	}
	ul {
		margin: 0;
		padding: 0;
	}
}

@import "headings";

@import "copy";